@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

nav ul {
  font-family: 'Poppins', sans-serif !important;
}

.containers {
  --max-width: 1440px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}


/* The CSS code you provided is styling add image grayscale */
.grayscale {
  filter: grayscale(100%);
}

/* Remove grayscale filter on hover */
.grayscale:hover {
  filter: none;
}






/* media Queries  */
/* navigation  */
header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (min-width: 1024px) and (max-width: 1300px) {

  nav>:nth-child(2)>ul {
    column-gap: 1.5rem;
  }

  nav>:nth-child(2)>ul>* {
    font-size: 1rem;
  }


  .gradient-btn,
  .hover-animation-btn {
    padding-inline: 1.5rem;
    padding-block: 0.95rem;
    font-size: 0.75rem;
  }

}


@media (min-width: 1024px) and (max-width: 1150px) {
  nav {
    column-gap: 1rem !important;
  }

  .gradient-btn,
  .hover-animation-btn {
    white-space: nowrap;
  }

  nav>:nth-child(1)>div {
    display: none;
  }
}


@media (max-width: 550px) {

  .gradient-btn,
  .hover-animation-btn {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 430px) {

  .gradient-btn,
  .hover-animation-btn {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
  }
}




/* menu on desktop */
.menus {
  display: flex;
  align-items: center;
}

.menu-items {
  position: relative;
}


.dropdown-menu {
  position: absolute;
  right: 0;
  left: -1rem;
  top: -2rem;
  width: 20rem;
  padding: 5rem 2rem;
  display: none;
  z-index: -99;
  transform: translateY(100px);
  /* Initial position */
  transition: transform 0.3s ease;
  /* Transition for smooth movement */
}

.dropdown-menu.show {
  display: block;
  transform: translateY(0);
  /* Move downwards */
}

.dropdown-menu>ul {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  list-style: none;
  margin-top: 4rem;
  padding: 1rem;
  margin-left: -2rem;
}

.dropdown-menu>ul>li {
  padding-bottom: 1rem;
}

.dropdown-menu>ul>li>a {
  font-weight: 600 !important;
  font-size: 1.125rem;
  color: rgba(41, 44, 48, 1);
  padding: 0 !important;
}

.dropdown-menu>ul>li>a:hover {
  border: none !important;
  color: #1a509e;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu.show {
  animation: slideDown 0.3s ease;
  /* Apply animation */
}

/* 
.dropdown-menu .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
} */

.mobile-navigation {
  display: none;
}

/* mobile navigation css  */

@media (max-width: 1024px) {
  .menus {
    display: none !important;
  }

  .mobile-navigation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark overlay color */
    z-index: 99999;
    /* Ensure it appears above other content */
  }

  .mobile-navigation {
    display: flex;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    width: 95%;
    height: 90vh;
    margin-inline: auto;
    background-color: #ffffff;
    z-index: 999999;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: scroll;
  }


  .mobile-navigation>li>a {
    position: relative;
    color: #556270;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.1rem;
    outline: none;
  }

  .mobile-navigation>li>ul>li {
    padding-left: 20px;
  }

  .mobile-navigation>li>ul>li>a {
    display: block;
    position: relative;
    color: #556270;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
  }

  .toggleClose {
    position: fixed;
    right: 0;
    top: 2rem;
    z-index: 99999;
  }

}









/* buttons  */

/* hover animation button  */
button {
  position: relative;
  background-color: #059a82;
  color: #ffffff;
  padding-inline: 1.5rem;
  padding-block: 0.95rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  overflow: hidden;
  z-index: 11;
}

.gradient-btn {
  background-color: #164599 !important;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #164599, #3cf0c5);
  background-size: 600%;
  animation: anime 16s linear infinite;

}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hover-animation-btn::after {
  content: '';
  position: absolute;
  background-color: #184ca1;
  padding-inline: 1.5rem;
  padding-block: 0.95rem;
  border-radius: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.hover-animation-btn:hover::after {
  transform: translateX(0);
}





/* hero section css  */

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://www.indusnet.co.in/site/wp-content/uploads/2022/02/hero-banner.jpg);
  background-size: cover;
  transition-property: opacity;
  background-position: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}



.hero-image::before {
  content: '';
  position: absolute;
  top: -5rem;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 100%;
  background-image: url(https://www.indusnet.co.in/site/wp-content/themes/indusnetblog/assets/images/banner/hero-dots.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: .6;
  z-index: 11;
}

@media (max-width: 1280px) {
  .hero-image {
    background-position: 55% 100%;
  }
}



.arrow-down {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50px;
  height: 70px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #020b64;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(45px);
  }

  100% {
    opacity: 0;
    transform: translateY(65px) scale3d(0.5, 0.5, 0.5);
  }
}


/* industry-solutions section css  */

#industry-solutions>div>div>div img,
#industry-solutions>div>div>div div {
  transition: all 0.4s ease-in-out;
}

#industry-solutions>div>div>div:hover img {
  scale: 1.125;
}

#industry-solutions>div>div>div:hover div {
  transform: translateY(-6rem);
}

#industry-solutions>div>div>div:hover div>p {
  color: #fddf00;
}

#industry-solutions>div>div>div:hover div>a {
  color: #fddf00;
  display: inline-flex;
  align-items: center;

}

#industry-solutions>div>div>div::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, rgba(21, 38, 74, 1) 0%, rgba(21, 38, 74, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
  z-index: 1;
}


/* partners slider css  */
.mySwiper.swiper {
  position: relative;
}

.mySwiper .swiper-slide img {
  object-fit: cover;
}

.mySwiper .swiper-pagination {
  position: relative !important;
  margin-top: 1.5rem;
}

@media (max-width: 425px) {

  .mySwiper .swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .mySwiper .swiper-slide img {
    object-fit: cover;
  }

}


/* styling the stories tab css  */

.stories-tabs ul>li>:nth-child(2) {
  display: none;
}


.tab-buttons div:hover img {
  filter: grayscale(0%);
}

.tab-buttons div.active img {
  filter: grayscale(0%);
}

.tab-buttons div img {
  filter: grayscale(100%);
  aspect-ratio: 3/2;
  object-fit: contain;
}


.accordion {
  border: 1px solid #e5e5e5;

}


.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}


.accordion .accordion-button {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  height: 100px;
}


.accordion .accordion-button>div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}


.accordion .accordion-button .icon {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 1.5rem;
  transition: transform 0.5s ease;
}

.accordion-button .icon-rotate {
  transform: rotate(180deg);
}


.accordion .accordion-button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 100vh;
  transition: all 0.5s ease-in-out;
  will-change: opacity, max-height;
  padding-inline: 1rem;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  will-change: opacity, max-height;
  padding-inline: 1rem;

}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}


/* services section css  */

.services-swiper .swiper-silde {
  height: 100%;
}

.services-card {
  min-height: 500px;
  transition: all 0.3 ease;
  height: auto;
}

.services-card:hover {
  box-shadow: 3px 4px 28px 7px rgb(61 61 61 / 10%);
}

.mySwiper-icon>div {
  display: flex;
  align-items: center;
}

.mySwiper-icon>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.mySwiper-icon>div>div>img {
  width: 50px;
  height: 50px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.services-swiper .swiper-pagination {
  position: relative;
  margin-top: 2rem;
}



/* testimonial section css  */

.testimonial {
  overflow-y: visible !important;
  border: 1px solid #d3d7d8;
  border-radius: 1.5rem;
  width: min(800px, 100%);
  margin-inline: auto;
  padding-block: 3rem;
  padding-inline: 5rem;
  margin-block: 3rem;
}

@media (max-width: 480px) {
  .testimonial {
    padding-block: 2rem;
    padding-inline: 2rem;
  }


}


/* Awards & Recognitions section css  */

.awards-swiper {
  position: relative;
}

.awards-swiper .swiper-slide img {
  object-fit: cover;
  position: relative;
}

.awards-swiper .swiper-slide span {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #fddf00;
}

.awards-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 1.5rem;
}

@media (max-width: 425px) {

  .awards-swiper .swiper-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}


/* Walk of Fame section css  */

.fame-swiper {
  position: relative;
}

.fame-swiper .swiper-slide img {
  object-fit: contain;
  aspect-ratio: 3/2;
  position: relative;
}

.fame-swiper .swiper-slide span {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #fddf00;
}

.fame-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 1.5rem;
}

@media (max-width: 425px) {

  .fame-swiper .swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}